@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Passions+Conflict&family=Sriracha&display=swap');

:root {
    --fonteDestaque: 'Passion One', arial, sans-serif;
    --fonteComum: 'Sriracha', arial, sans-serif;
    --corHeader: black;
    --corBody: rgba(169, 169, 169, 0.322);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    background-color: var(--corBody);
    font-family: var(--fonteComum);
}

header {
    background-color: var(--corHeader);
    color: white;
    text-align: center;
}

header>h1 {
    margin-bottom: 10px;
    padding: 25px;
    font-variant: small-caps;
    font-size: 8vw;
    font-family: var(--fonteDestaque);
}

section,
section>p {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15px;
    line-height: 2em;
    font-size: 4vw;
}

.imagem {
    background-color: aliceblue;
    background-image: url(../images/morango.png);
    background-position: center top;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-attachment: fixed;
}

.imagem>p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.24);
    text-shadow: .5px .5px 0px black;
    color: white;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 2.5vw;
}